<div class="choose_nav_item is-active"><div class="choose_nav_text">
{{ section.settings.text_text_1 }}
</div>
</div><div class="choose_nav_item"><div class="choose_nav_text">
{{ section.settings.text_text_2 }}
</div>
</div><div class="choose_nav_item"><div class="choose_nav_text">
{{ section.settings.text_text_3 }}
</div>
</div><div class="choose_nav_item last"><div class="choose_nav_text">
{{ section.settings.text_text_4 }}
</div>
</div> {% schema %} {"tag":"section","name":"Choose Nav","class":"section_choose_nav","settings":[{"id":"text_text_1","type":"text","label":"Text 1","default":"1. Art W\u00e4hlen"},{"id":"text_text_2","type":"text","label":"Text 2","default":"2. Auswahl Marke"},{"id":"text_text_3","type":"text","label":"Text 3","default":"3. Auswahl Bauteil"},{"id":"text_text_4","type":"text","label":"Text 4","default":"4. kasse"}],"presets":[{"name":"Choose Nav","category":"Liquify","blocks":[]}]} {% endschema %}