<div class="padding-global"><div class="container-large"><div><div class="subheading text-color-white">
{{ section.settings.text_subheading }}
</div>
<h1 class="hero-heading text-color-white">
{{ section.settings.text_headline }}
</h1>
</div></div></div><img loading="lazy" alt="{{ section.settings.image_bild.alt }}" src="{{ section.settings.image_bild | img_url: 'master' }}" class="home_hero_bg-img">
 {% schema %} {"tag":"section","name":"Hero","class":"section_home_hero","settings":[{"id":"text_subheading","type":"text","label":"Subheading","default":"\/\/ wir sind Rebound racing"},{"id":"text_headline","type":"text","label":"Headline","default":"Optimale Leistung <span class=\"gradient-bar\">f\u00fcr deine Federgabela<\/span>"},{"id":"image_bild","type":"image_picker","label":"Bild"}],"presets":[{"name":"Hero","category":"Liquify","blocks":[]}]} {% endschema %}