<div class="padding-global padding-section-medium"><div class="container-large"><div class="select_top"><h2 class="heading-style-h3 text-style-no-caps text-weight-semibold">
{{ section.settings.text_heading }}
</h2>
</div><div class="select_component">{% for product in section.settings.collection_products.products limit: section.settings.collection_products_limit %}
<div id="w-node-_52c0a2ab-0c4a-a31b-6ef0-d7edeae5facc-440e2ebe">
    
    {% render 'product_item', product: product %}

    
</div>
{% endfor %}
</div></div></div> {% schema %} {"tag":"section","name":"Porduct List","class":"section_select","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Heading"},{"id":"collection_products","type":"collection","label":"Products"},{"type":"range","id":"collection_products_limit","min":1,"max":99,"step":1,"label":"Limit: Products","default":6}],"presets":[{"name":"Porduct List","category":"Liquify","blocks":[]}]} {% endschema %}